.logo {
    height: 32px;
    margin: 16px;
    background: rgb(62, 49, 243);
    color: aliceblue;
    text-align: center;
    line-height: 32px;
  }
  .ant-layout-header{
    line-height: 30px;
  }
  .site-layout .site-layout-background.content{
    background-color: aliceblue;
    margin-top: 10px;
    overflow: hidden;
  }
  .site-layout .site-layout-background.box{
    background: rgb(53, 102, 238);
    /* box-sizing: border-box; */
    color: white;
  }
  .site-layout .site-layout-background .top {
    height: 30px;
    display: flex;
    justify-content: flex-end;
    text-align: right;
    border-bottom: 1px solid navajowhite;
    padding: 0 20px;
    box-sizing: border-box;
  } 
  .site-layout .site-layout-background .top div{
    height: 20px;
  }
.loginout{
    color: aqua;
    margin-right: 20px;
  }
  .routename{
    margin-left: 20px;
  }